.blog-card {
  background-color: transparent;
  color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 350px;
  min-height: 450px;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.blog-card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.blog-card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #f3efef; /* reddish-orange */
  margin-bottom: 0.5rem;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blog-card-content {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.4;
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog-card-author {
  font-size: 0.85rem;
  color: #aaa;
  margin-bottom: 0.5rem;
}

.blog-card-button {
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.blog-card-button:hover {
  background-color: transparent;
}
