.blog-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 100%;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.blog-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.blog-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.blog-card-content {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-card-author {
  font-size: 0.9rem;
  color: skyblue;
  margin-top: auto;
  border: 1px solid #666;
  border-radius: 10px;
}

.blog-card-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.blog-card-button:hover {
  background-color: #0056b3;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-full-content {
  background-color: #fff;
  padding: 30px;
  max-width: 800px;
  width: 90%;
  height: 90%;
  overflow-y: auto;
  border-radius: 10px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.modal-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

.modal-full-content h2 {
  margin-bottom: 10px;
}

.modal-full-content p {
  margin-bottom: 20px;
  font-size: 1rem;
}
