.blogPage {
  position: relative;
  padding: 2rem;
  //  background: linear-gradient(145deg, #06152f, #020c1e);
  .filterBtn {
    padding: 0.3rem 0.7rem;
    background: transparent;
    color: #d3d3eb;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    cursor: pointer;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
.filterBtn {
    padding: 0.3rem 0.7rem;
    background: transparent;
    color: #d3d3eb;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    cursor: pointer;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .starryBackground {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000022;
  }
.filterBtn {
    padding: 0.3rem 0.7rem;
    background: transparent;
    color: #d3d3eb;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    cursor: pointer;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  }

  .filterMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #ffffffcc; // semi-transparent
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 14px rgb(0 0 0 / 0.3);
    z-index: 100;
    width: 160px;
    text-align: center;
  

  }
  .dropdownMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #ffffff; // White background for the filter menu
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 200px;
    text-align: center;
    .select {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc; // Light border
      background: #f9f9f9; // Slightly off-white background
      width: 100%;
      appearance: none;
      transition: border 0.3s;

      &:focus {
        outline: none;
        // border: 1px solid #007bff; // Highlight border on focus
        background: #fff; // White background on focus
      }
    }
  }


  .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 1rem;
  }

  .errorMessage {
    color: #ff6666;
    font-size: 1.2rem;
  }

/* Star Styles */
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;

  @keyframes twinkle {
    0%, 100% {opacity: 0.5}
    50% {opacity: 1}
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(500px);
    opacity: 0;
  }
}
