.adminPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    width: 100%;
  
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  
  .adminPanelList {
    display: flex;
    // flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  
  .adminPanelItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin: 10px;
  
    h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #333;
      text-align: center; /* Center-align text for smaller screens */
    }
  
    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin-top: 15px;
    }
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center; /* Center buttons */
    gap: 10px;
    margin-top: 10px;
  
    @media (min-width: 768px) {
      justify-content: space-between; /* Space buttons in larger screens */
    }
  }
  
  .editButton, .deleteButton {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  
    &:hover {
      opacity: 0.9;
    }
  }
  
  .editButton {
    background-color: #4caf50;
    color: white;
  }
  
  .deleteButton {
    background-color: #f44336;
    color: white;
  }
  
  .error {
    color: red;
    font-size: 1rem;
    text-align: center; /* Center-align error message */
  }
  
  .noPostsMessage {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
  }
  
  .modal {
    background: white;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 767px) {
    .adminPanelItem {
      width: 100%; /* Full width for smaller screens */
      margin: 0 0 20px 0;
    }
  
    .modal {
      max-width: 90%; /* Reduce modal width on small screens */
    }
  
    .buttonContainer {
      flex-direction: column; /* Stack buttons vertically */
      gap: 5px;
    }
  }
  
  @media (min-width: 1024px) {
    .adminPanelList {
      justify-content: flex-start; /* Align items to the left for larger screens */
    }
  
    .adminPanelItem {
      max-width: 30%; /* Allow 3 cards per row */
    }
  }
  